.App {
  text-align: center;
}

h1 {
  font-family: "Bungee";
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Russo One";
  font-size: 34px;
}

h3 {
  font-family: "Noto Sans";
  font-weight: "bold";
  font-size: 30px;
}

h4 {
  font-family: "Noto Sans";
  font-weight: "bold";
  font-size: 26px;
}

p {
  font-family: "Noto Sans";
  font-size: 20px;
}

.btn-primary-contained {
  font-family: "Bungee";
  font-size: 18px;
  background-color: #FF1F1F;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-primary-contained:hover {
  font-family: "Bungee";
  font-size: 18px;
  background-color: #AD0000;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  font-family: "Bungee";
  font-size: 18px;
  background-color: #FFFFFF;
  color: #FF1F1F;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


.btn-primary:hover {
  font-family: "Bungee";
  font-size: 18px;
  background-color: #FFFFFF;
  color: #AD0000;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
