.App {
  text-align: center;
}

h1 {
  font-family: "Bungee";
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Russo One";
  font-size: 34px;
}

h3 {
  font-family: "Noto Sans";
  font-weight: "bold";
  font-size: 30px;
}

h4 {
  font-family: "Noto Sans";
  font-weight: "bold";
  font-size: 26px;
}

p {
  font-family: "Noto Sans";
  font-size: 20px;
}

.btn-primary-contained {
  font-family: "Bungee";
  font-size: 18px;
  background-color: #FF1F1F;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-primary-contained:hover {
  font-family: "Bungee";
  font-size: 18px;
  background-color: #AD0000;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  font-family: "Bungee";
  font-size: 18px;
  background-color: #FFFFFF;
  color: #FF1F1F;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #FFFFFF;
  color: #AD0000;
}

@media only screen and (max-width: 650px){ 

  h1 { font-size: 7vw; }
  h2 { font-size: 5.5vw; }
  h3 { font-size: 4.7vw; }
  h4 { font-size: 4vw; }
  p { font-size: 3vw; }

  .btn-primary-contained {
    font-size: 2.5vw;
    padding: 2% 3%;
  }
  
  .btn-primary {
    font-size: 2.5vw;
    padding: 2% 3%;
  }

}

@media only screen and (max-width: 480px){ 

  .btn-primary-contained {
    font-size: 12px;
    padding: 7.7px 11.5px;
  }
  
  .btn-primary {
    font-size: 12px;
    padding: 7.7px 11.5px;
  }

}

@media only screen and (max-width: 400px){ 

  h3 { font-size: 17px; }
  h4 { font-size: 15px; }
  p { font-size: 12px; }

}
