
#campaign-header { 
  height: 260px;
}

#green-background {
  height: 170px;
  top: 100px;
}

#logo {
  top: 30px
}

#heading {
  top: 110px
}

@media only screen and (max-width: 650px){ 

  #campaign-header { 
    height: 38vw;
  }

  #green-background {
    height: 26vw;
    top: 30%
  }

  #logo {
    top: -20%;
    width: 30vw;
    height: 100%;
  }

  #heading {
    top: 30%;
    margin-top: 12%;
  }

}

