#mission-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
  max-width: 1300px;
}

#mission-frame {
  width: 270px;
}

#header-container {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  justify-content: space-between;
  min-width: 255px;
}

#logo-img {
  margin-right: 90px;
}

#logo-img-mobile {
  display: none;
}

#text-container {
  margin: 50px 90px;
  width: 550px;
}

#h1-container {
  display: flex;
  flex-direction: row;
  max-width: 550px;
  justify-content: flex-start;
}

.sub-heading {
  margin: 60px 0px;
}

h4 {
  margin: 20px 0px;
}

@media (max-width: 1100px){ 

  #logo-img {
    display: none;
  }

  #logo-img-mobile {
    display: inline-block;
    margin: auto;
    margin-right: 70px;
    width: 220px;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 { font-size: 45px; }

}

@media (max-width: 830px) {

  h1 { font-size: 5vw; }

  #h1-container {
    flex-direction: column;
  }

  #logo-img-mobile {
    top: auto;
    transform: none;
  }

  #text-container {
    margin: 20px 60px;
  }

}

@media (max-width: 700px) {

  #mission-container {
    flex-direction: column;
    align-items: center;
  }

  video {
    width: 80vw;
    height: auto;
    min-width: 260px;
  }

}

@media (max-width: 500px) { 

  h1 { font-size: 25px; }

  .sub-heading {
    margin: 35px 0px;
  }

  #text-container {
    margin: 10px 50px;
  }

}
