#navIcon {
  cursor: pointer;
  margin-left: 15px;
  margin-top: 5px;
}
  
#navBar {
  font-family: "Russo One";
  font-size: 20px;
  margin: 35px 10%;
  display: flex;
  align-items: center;
}

#navBar a {
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  margin-right: 60px
}

#navBar a.active {
  background-color: #000;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
}

#navBar a:hover {
  background-color: #104409;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 650px){ 

  #navBar {
    font-family: "Bungee";
    font-size: 20px;
    margin: 35px 7%;
    min-width: 500px;
    display: flex;
    align-items: center;
    margin: 35px 7%;
  }

  #navBar a {
    font-size: 3vw;
    padding: 2% 3%;
    margin-right: 7%
  }

  #navIcon {
    width: 6vw;
    height: 100%;
    margin-left: 7px;
  }
  
}

@media only screen and (max-width: 400px){ 

  #navBar a {
    font-size: 12px;
    padding: 7.7px 11.5px;
    margin-right: 5%
  }
  
}
