#navIcon {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 5px;
  }
  
  #navBar {
    font-family: "Russo One";
    font-size: 20px;
    margin: 35px 10%;
    min-width: 500px;
    display: flex;
    align-items: center;
  }
  
  #navBar a {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 60px
  }
  
  #navBar a.active {
    background-color: #000;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
  }